<div  [hidden]="hiddenLogin">
  <div class="container-login100">  
    <div class="wrap-login100" [hidden]="hiddenLogin">
        <div class="login100-pic">
            <img src="{{urlImage}}/img-01.png" alt="logo.png">
        </div>
      <div class="example-container">        
          <div>
            <mat-form-field>
              <input matInput placeholder="Nombre" [(ngModel)]="name">
            </mat-form-field>
            <mat-form-field>
              <input type="password" matInput placeholder="Password" [(ngModel)]="password">
            </mat-form-field>
            <div class="button-row">            
              <button mat-stroked-button color="primary" (click)="login()">Ingresar</button>
              <button mat-button color="warn" (click)="salir()">Salir</button>
            </div>
          </div>     
      </div>
    </div>  
  </div>
</div>
<div [hidden]="!hiddenLogin">
    <app-main></app-main>
</div>