<div [hidden]="hiddenLogin" class="img-fondo">
  <div class="fondo">
    <div class="wrap-form-g">
      <div class="wrap-user">
        <img src="{{urlImage}}/user.png" alt="" class="img-user">
      </div>
      <div class="login-title">
        <h3>Entrar al sistema</h3>
        <p>Ingrese nombre de usuario y contraseña</p>
      </div>
      <div>
        <div class="form-group">
          <label for="name">Nombre de usuario</label>
          <input type="text" class="form-control" id="name" placeholder="Nombre" [(ngModel)]="name">
        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input type="password" class="form-control" id="password" placeholder="Contraseña" [(ngModel)]="password">
        </div>
        <div class="form-group form-check">
          <!-- <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label> -->
        </div>
        <button type="submit" class="btn btn-primary btn-login" (click)="login()">Ingresar</button>
      </div>
    </div>
  </div>
</div>
<!-- <div  [hidden]="hiddenLogin">
  <div class="container-login100">  
    <div class="wrap-login100" [hidden]="hiddenLogin">
        <div class="login100-pic">
            <img src="{{urlImage}}/img-01.png" alt="logo.png">
        </div>
      <div class="example-container">        
          <div>
            <mat-form-field>
              <input matInput placeholder="Nombre" [(ngModel)]="name">
            </mat-form-field>
            <mat-form-field>
              <input type="password" matInput placeholder="Password" [(ngModel)]="password">
            </mat-form-field>
            <div class="button-row">            
              <button mat-stroked-button color="primary" (click)="login()">Ingresar</button>
              <button mat-button color="warn" (click)="salir()">Salir</button>
            </div>
          </div>     
      </div>
    </div>  
  </div>
</div> -->
<div [hidden]="!hiddenLogin">
    <app-main></app-main>
</div>