#pageheader {height:118px; padding:0 20px;}
.title1 {display:block; font:normal 2.5em Arial, Helvetica, sans-serif!important; color:#000; text-shadow:#fff 1px 1px 1px; float:left; padding:35px 0 0 0;}
.title2 {color:#aaa;}

.wrapper{
    padding-bottom: 3em;
}