<mat-card-subtitle ALIGN="right">{{headerPage}}</mat-card-subtitle>
<mat-tab-group dynamicHeight>
  <mat-tab label="Nuevo Avaluo">
    <div class="example-large-box mat-elevation-z4">
      <app-create></app-create>
    </div>
  </mat-tab>
  <mat-tab label="Fotos">
    <div class="example-large-box mat-elevation-z4">
      <app-photo></app-photo>
    </div>
  </mat-tab>
  <mat-tab label="Datos">
    <div class="example-large-box mat-elevation-z4">
      
      <app-datos></app-datos>
    </div>
  </mat-tab>
  <mat-tab label="Short tab">
    <div class="example-large-box mat-elevation-z4">
      Small content
    </div>
  </mat-tab>
  
</mat-tab-group>
<button mat-button color="warn" (click)="logout()">Salir</button>
<mat-card-subtitle ALIGN="right">{{footerPage}}</mat-card-subtitle>